.container {
    height: 100px;
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    color: brown;
}

.btncontainer {
    display: flex;
    justify-content: flex-end;
    width: 80%;
}

.button {
    height: 50px;
    width: 100px;
    background-color: brown;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.button:hover {
    background-color: black;
}